@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
	margin: 0;
	font-family: 'Indie Flower', cursive;
	box-sizing: border-box;
}
.container{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 100%;
}
.navbar{
	background: #D4f0f0;
}
.calendar{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 90%;
}
.calendar-header {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(7, 1fr);
}
.calendar-header div{
	font-size: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #065381;
	color: floralwhite;
}
.calendar-content {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
	
}
.calendar-content div{
	padding: 10px 0px 0px 0px;
	color: black;
	font-size: 33px;
	border: 1px solid rgba(0,0,0,0.3);
}
.day{
	background: #F9E795;
}
.dayDisabled{
	background: #FFFFE0;
}