@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  margin: 0;
  font-family: "Indie Flower", cursive;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
}
.navbar {
  background: #d4f0f0;
}
.calendar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 10% 70%;
  background-color: papayawhip;
}
.fas {
  font-size: 30px;
  cursor: pointer;
}
.month {
  position: relative;
  margin: 5px;
  padding: 0 2rem;
  color: whitesmoke;
  background-color: #9baf8e;
}
.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.date div h1::after {
  content: " ";
  margin: 0.5rem;
}
.date div h2::before {
  content: ", ";
}
.date h1 {
  padding-top: 25px;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  color: whitesmoke;
}
.date .year {
  font-size: 2.5rem;
  letter-spacing: 10px;
  color: whitesmoke;
}
.date p {
  font-size: 2rem;
  text-align: center;
  color: whitesmoke;
}
.weekdays {
  margin: 5px;
  height: 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  background-color: #6a7d8e;
  padding-top: 10px;
  font-size: 26px;
  letter-spacing: 0.3rem;
  text-align: center;
  color: whitesmoke;
}
.weekdays div {
  padding-top: 10px;
  font-size: 26px;
  letter-spacing: 0.3rem;
  text-align: center;
  color: whitesmoke;
}

.daysWeek {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(1, 30vw);
  grid-template-rows: repeat(1, 30vh);
  background-color: #eac3b8;
  z-index: 5;
}
.daysWeek div {
  border: 0.5px solid grey;
  padding-left: 10px;
  font-size: 24px;
  letter-spacing: 0.2px;
  overflow: auto;
}

.daysWeek div:hover {
  background-color: #edcc8b;
  color: black;
  border: 0.2rem solid #777;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.prevDate,
.nextDate {
  color: white;
  background-color: #231f1e;
  opacity: 0.2;
}

.today {
  background-color: #e8d9c2;
}

.prev {
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.next {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.addTaskBox {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  place-items: center;
  position: absolute;
  margin: 30px;
  padding: 10px;
  z-index: 10;
}
.addTaskBox div {
  border-radius: 5px;
  background-color: white;
}
textarea {
  width: 100%;
  height: 50px;
}
#save {
  background-color: #57838d;
  color: white;
  font-size: 20px;
  width: 50%;
  margin-left: 120px;
}
#close {
  margin-left: 62%;
  color: red;
  font-size: 16px;
}
.calendarMonth {
  text-align: center;
  margin: 20px;
  font-size: 50px;
  border: 2px;
  background-color: skyblue;
}
.calendarMonth :hover {
  background-color: lightpink;
  cursor: pointer;
}
.calendarWeek {
  text-align: center;
  margin: 20px;
  font-size: 50px;
  border: 2px;
  background-color: skyblue;
}
.calendarWeek :hover {
  background-color: lightpink;
  cursor: pointer;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
.logout {
  margin-left: 90px;
  margin-top: 50px;
  width: 100px;
  height: 50px;
  font-size: 24px;
  background-color: gray;
}
.calendarYear {
  text-align: center;
  margin: 20px;
  font-size: 50px;
  border: 2px;
  background-color: skyblue;
}
.calendarYear :hover {
  background-color: lightpink;
  cursor: pointer;
}
.appointment {
  position: relative;
  background-color: tomato;
  z-index: 100000;
}
.showAll {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  margin: 30px;
  padding: 10px;
  z-index: 10;
}
.showAll div {
  background-color: honeydew;
  width: 70%;
  font-size: 50px;
}
